<div class="table-container">
        <div class="div-button-new">
            <button id="btn-novo" class="custom-btn btn-novo">Novo</button>
        </div>
        <div style="overflow-x:auto;">
            <table>
                <tr>
                    <th>Veículo</th>
                    <th>Colaborador</th>
                    <th>Data</th>
                    <th>Hodômetro (Saída)</th>
                    <th>Hodômetro (Entrada)</th>
                    <th>Distância percorrida</th>
                    <th>Pegada de carbono</th>
                    <th>Status</th>
                    <th>Opções</th>
                </tr>
                {{itens}}
            </table>
        </div>
        <div class="nav">
            {{pagination}}
        </div>
    </div>


