<div class="container-form">
  <h1 style="padding: 2rem 0; text-align:center;">{{title}}</h1>
  <form method="post">
    <div class="row">
      <div class="col-25">
        <label for="veiculo">Veículo</label>
      </div>
      <div class="col-75">
        <select id="veiculo" name="veiculo_id">
          {{options-vehicles}}
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="colaborador">Colaborador</label>
      </div>
      <div class="col-75">
        <select id="colaborador" name="colaborador_id">
          {{options-collaborators}}
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="hodometro_start">Hodômetro (Saída)</label>
      </div>
      <div class="col-75">
        <input type="number" id="hodometro_start" name="hodometro_start" value="{{hodometro_start}}" required placeholder="Valor atual do hodômetro do veículo...">
      </div>
    </div>
    <div class="row" style="padding: 25px">
      <div class="col-50" style="display:flex;">
        <input type="button" onclick="history.back();" value="Cancelar">
      </div>
      <div class="col-50">
        <input type="submit" value="Salvar">
      </div>
    </div>
  </form>
</div>