<div id="myModal" class="modal">
  <form method="post">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">CANCELAR ITEM</h5>
    </div>
    <div class="modal-body">
    <p>Tem certeza que deseja cancelar o item selecionado?</p>
    </div>
    <div class="modal-footer">
        <div class="row">
          <div class="col-50" style="display:flex;">
            <input type="button" class="modal-button-confirm" onclick="history.back();" value="Cancelar">
          </div>
          <div class="col-50" style="text-align:right;">
            <input type="submit" class="modal-button-confirm" value="Salvar">
          </div>
        </div>
    </div>
  </div>
  </form>
</div>