<form method="post">
  <h1 class="title-new-entity">Novo colaborador</h1>
  <div class="form-group">
    <label for="inputName">Nome</label>
    <input type="text" class="form-control" id="inputName" name="nome" aria-describedby="nameHelp">
  </div>
  <div class="form-group">
    <label for="inputMatricula">Matricula</label>
    <input type="text" class="form-control" id="inputMatricula" name="matricula" aria-describedby="matriculaHelp">
  </div>
  <div class="form-group">
    <label for="inputHabilitado">Habilitado?</label>
    <select class="form-control"  id="inputHabilitado" name="habilitado">
      <option value="1">Sim</option>
      <option value="0">Não</option>
    </select>
  </div>
  <div class="button-form">
    <button type="button" class="btn btn-primary" id="btn-cancelar" onclick="history.back()">Cancelar</button>
    <button type="submit" class="btn btn-primary">Salvar</button>
  </div>
</form>
