<form method="post">
    <h1 class="title-new-entity">Contato</h1>
    <div class="form-group">
        <label for="inputName">Nome</label>
        <input type="text" class="form-control" id="inputName" name="nome" aria-describedby="nameHelp">
    </div>
    <div class="form-group">
        <label for="inputEmail">Email</label>
        <input type="text" class="form-control" id="inputEmail" name="email">
    </div>
    <div class="form-group">
        <label for="inputDescricao">Descrição</label>
        <textarea class="form-control" id="inputDescricao" rows="50" style="height: 10vw" cols="100" name="descricao"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>