<footer>
    <!-- Footer main -->
    <section class="ft-main">
        <div class="ft-main-item">
            <h2 class="ft-title">Sobre</h2>
            <ul>
                <li><a href="#">Pegada de Carbono</a></li>
                <li><a href="#">Desenvolvedores</a></li>
            </ul>
        </div>
        <div class="ft-main-item">
            <h2 class="ft-title">Cadastros</h2>
            <ul>
                <li><a href="#">Veiculos</a></li>
                <li><a href="#">Colaboradores</a></li>
                <li><a href="#">Chamados</a></li>
            </ul>
        </div>
        <div class="ft-main-item">
            <h2 class="ft-title">Contato</h2>
            <ul>
                <li><a href="#">Help</a></li>
                <li><a href="#">Sales</a></li>
                <li><a href="#">Advertise</a></li>
            </ul>
        </div>
    </section>

    <!-- Footer social -->
    <section class="ft-social">
        <ul class="ft-social-list">
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-github"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
        </ul>
    </section>

    <!-- Footer legal -->
    <section class="ft-legal">
        <ul class="ft-legal-list">
            <li><a href="#">Terms &amp; Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li>&copy; 2021 by Marcelo Klosouski Junior, Alexandre Ramos Barbosa e Alan Campos Silva, Carbon Footprint</li>
        </ul>
    </section>
</footer>