<tr>
    <td style="text-transform: uppercase;">{{placa}}</td>
    <td>{{modelo}}</td>
    <td>{{ano}}</td>
    <td>{{autonomia}}</td>
    <td>{{status}}</td>
    <td width="15%" style="text-align: center;">
        <a href="{{URL}}/list/vehicles/form/{{veiculo_id}}">
            <i class="fas fa-edit" style="font-size: x-large; color: #0583D2;padding: 10px;"></i>
        </a>
        <a href="{{URL}}/list/vehicles/delete/{{veiculo_id}}">
            <i class="fas fa-trash-alt" style="font-size: x-large; color: #FF0000;padding: 10px;"></i>
        </a>
    </td>
</tr>
