<tr>
    <td>{{nome}}</td>
    <td>{{matricula}}</td>
    <td>{{habilitado}}</td>
    <td width="15%" style="text-align: center;">
        <a href="{{URL}}/list/collaborators/form/{{colaborador_id}}">
            <i class="fas fa-edit" style="font-size: x-large; color: #0583D2;padding: 10px;"></i>
        </a>
        <a href="{{URL}}/list/collaborators/delete/{{colaborador_id}}">
            <i class="fas fa-trash-alt" style="font-size: x-large; color: #FF0000;padding: 10px;"></i>
        </a>
    </td>
</tr>