<div class="container-form">
  <h1 style="padding: 2rem 0; text-align:center;">{{title}}</h1>
  <form method="post" onsubmit="onSubmit()">
    <div class="row">
      <div class="col-25">
        <label for="nome">Nome</label>
      </div>
      <div class="col-75">
        <input type="text" id="nome" name="nome" placeholder="Seu nome..." required value="{{nome}}">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="email">Email</label>
      </div>
      <div class="col-75">
        <input type="email" id="email" name="email" placeholder="Seu email..." required value="{{email}}">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
      <label for="role">Função</label>
    </div>
    <div class="col-75">
      <select id="role" required name="role">
        <option {{operator}} value="operator">Operador</option>
        <option {{driver}} value="driver">Motorista</option>
        <option {{admin}} value="admin">Administrador</option>
        <option {{super}} value="super">Super</option>
      </select>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="senha">Senha</label>
      </div>
      <div class="col-75">
        <input type="password" id="senha" name="senha" placeholder="Sua senha..." required value="{{senha}}">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="conf_senha">Confirmar Senha</label>
      </div>
      <div class="col-75">
        <input type="password" id="conf_senha" name="conf_senha" placeholder="Confirme sua senha..." data-equal-id="senha" required value="{{senha}}">
      </div>
    </div>
    <div class="row" style="padding: 25px">
      <div class="col-50" style="display:flex;">
      <input type="button" onclick="history.back();" value="Cancelar">
    </div>
      <div class="col-50">
        <button id="btn-submit" type="submit">
          <i id="icon-submit" class="fas fa-circle-notch fa-spin"></i>Salvar
        </button>
      </div>
    </div>
  </form>
</div>
