<div class="container-form">
  <h1 style="padding: 2rem 0; text-align:center;">Novo veiculo</h1>
  <form method="post">
    <div class="row">
      <div class="col-25">
        <label for="placa">Placa</label>
      </div>
      <div class="col-75">
        <input type="text" id="placa" name="placa" value="{{placa}}" required placeholder="Placa do veiculo...">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="modelo">Modelo</label>
      </div>
      <div class="col-75">
        <input type="text" id="modelo" name="modelo" value="{{modelo}}" required placeholder="Modelo do veiculo...">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="ano">Ano</label>
      </div>
      <div class="col-75">
        <input type="number" id="ano" name="ano" value="{{ano}}" required placeholder="Ano do veiculo...">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="autonomia">Autonomia (km/L)</label>
      </div>
      <div class="col-75">
        <input type="number" id="autonomia" name="autonomia" value="{{autonomia}}" required placeholder="Autonomia do veiculo km/L...">
      </div>
    </div>
    <div class="row" style="padding: 25px">
      <div class="col-50" style="display:flex;">
        <input type="button" onclick="history.back();" value="Cancelar">
      </div>
      <div class="col-50">
        <input type="submit" value="Salvar">
      </div>
    </div>
  </form>
</div>