<form method="post">
  <h1 class="title-new-entity">{{title}}</h1>
  <div class="form-group">
    <label for="inputModelo">Modelo</label>
    <input type="text" class="form-control" id="inputModelo" name="modelo" value="{{modelo}}" aria-describedby="modeloHelp">
  </div>
  <div class="form-group">
    <label for="inputAno">Ano</label>
    <input type="text" class="form-control" id="inputAno" value="{{ano}}" name="ano">
  </div>
  <div class="form-group">
    <label for="inputAutonomia">Autonomia</label>
    <input type="text" class="form-control" id="inputAutonomia" name="autonomia" value="{{autonomia}}" aria-describedby="autonomiaHelp">
  </div>
  <div class="button-form">
    <button type="button" class="btn btn-primary" id="btn-cancelar" onclick="history.back()">Cancelar</button>
    <button type="submit" class="btn btn-primary">Salvar</button>
  </div>
</form>
