
<div class="jumbotron jumbotron-fluid" style=" background-color: var(--black);">
    <div class="row" style="width: 100%; display:flex; justify-content:center;">
        <h1>Equipe</h1>
    </div>
    <div class="container" style="display:flex; justify-content:center;">
        <div class="row" style="margin: 1rem 0; width: 100%;">
            <div class="column">
                <div class="card">
                    <img width="200" height="200" style=" max-width: 100%; height: auto;" title="Marcelo Klosouski Junior" src="https://media-exp2.licdn.com/dms/image/C5603AQFACmY9uq3bFQ/profile-displayphoto-shrink_800_800/0/1615389709214?e=1660780800&amp;v=beta&amp;t=RnHhRwaOLRUUVB3ztH4EpgEHCNn4HX4oQxYJntYbJJg" alt="Marcelo Klosouski Junior">
                    <h2>Marcelo Klosouski Jr.</h2>
                    <p style="padding: 10px;">Desenvolvedor Web</p>
                    <ul class="social">
                        <li><a href="https://www.instagram.com/marcelo_klosouski" class="fab fa-instagram" style="font-size: xxx-large; color: #04AA6D;" aria-hidden="true"></a></li>
                        <li><a href="mailto:klosouski96@gmail.com" class="fab fa-google-plus-g" style="font-size: xxx-large; color: #04AA6D;" aria-hidden="true"></a></li>
                        <li><a href="https://www.linkedin.com/in/marcelo-klosouski-junior-a59a29208/" class="fab fa-linkedin-in" style="font-size: xxx-large; color: #04AA6D;" aria-hidden="true"></a></li>
                    </ul>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <img width="200" title="Alan Silva" style=" max-width: 100%; height: auto;" src="https://media-exp2.licdn.com/dms/image/C4D03AQH5m5-WjL68jw/profile-displayphoto-shrink_400_400/0/1599659236380?e=1660780800&amp;v=beta&amp;t=M4id0_VsoDvRtpvFvHTlUttcEz9deogxYb3DfOgofZA" height="200" alt="Alan Silva">
                    <h2>Alan Campos Silva</h2>
                    <p style="padding: 10px;">Desenvolvedor Web</p>
                    <ul class="social">
                        <li><a href="https://www.instagram.com/neypax/" class="fab fa-instagram" style="font-size: xxx-large; color: #04AA6D;" aria-hidden="true"></a></li>
                        <li><a href="mailto:konzentaru@gmail.com" class="fab fa-google-plus-g" style="font-size: xxx-large; color: #04AA6D;" aria-hidden="true"></a></li>
                        <li><a href="https://www.linkedin.com/in/alan-silva-91295a98/" class="fab fa-linkedin-in" style="font-size: xxx-large; color: #04AA6D;" aria-hidden="true"></a></li>
                    </ul>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <img width="200" title="Alexandre Ramos Barbosa" style=" max-width: 100%; height: auto;" src="https://media-exp2.licdn.com/dms/image/C5603AQFPDmTDyL0dCg/profile-displayphoto-shrink_400_400/0/1623809729878?e=1660780800&amp;v=beta&amp;t=L60TzvDAwxK1ZcoMv_ecjRE9yKtaBOggDhmTRKa64kg" height="200" alt="Alexandre Ramos Barbosa">
                    <h2>Alexandre Ramos B.</h2>
                    <p style="padding: 10px;">Desenvolvedor Web</p>
                    <ul class="social">
                        <li><a href="https://instagram.com/alexandrersbar?igshid=YmMyMTA2M2Y=" class="fab fa-instagram" style="font-size: xxx-large; color: #04AA6D;" aria-hidden="true"></a></li>
                        <li><a href="mailto:alexandreramossbar@gmail.com" class="fab fa-google-plus-g" style="font-size: xxx-large; color: #04AA6D;" aria-hidden="true"></a></li>
                        <li><a href="https://www.linkedin.com/in/alexandre-ramos-barbosa-25901220a/" class="fab fa-linkedin-in" style="font-size: xxx-large; color: #04AA6D;" aria-hidden="true"></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>

