<div class="jumbotron jumbotron-fluid">
    <div class="container" style="display:flex; justify-content:center;">

        <div class="row" style="width: 25%; min-width: 300px; display:flex; justify-content:center;   background-color: var(--black);">

            <div class="col-50" style="width: 100%; margin: 1rem;">
                <form method="post" style="width: 100%;">
                    <div class="row" style="margin: 2rem 0 2rem 0">

                        <div class="row">
                            <div class="col-100" style="display: flex; justify-content: center; align-items: center;">
                                <h1>Contate-nos</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-100" style="margin: 1rem 0 1rem 0">
                                <input type="text" id="name" name="name" placeholder="Nome...">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-100" style="margin: 1rem 0 1rem 0">
                                <input type="text" id="email" name="email" placeholder="Email...">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-100" style="margin: 1rem 0 1rem 0">
                                <textarea  id="message" name="message" placeholder="Mensagem..."></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-100" style="display: flex; justify-content: center; align-items: center; margin: 2rem 0 2rem 0">
                            <input style="width: 100%" type="submit" value="Enviar">
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

