<section class="section-alert">
    {{status}}
</section>
<section>
    <form method="post">
        <h1 class="title-new-entity">Login</h1>
        <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control" id="inputEmail" name="email">
        </div>
        <div class="form-group">
            <label for="inputSenha">Senha</label>
            <input type="password" class="form-control" id="inputSenha" name="senha">
        </div>
        <button type="submit" class="btn btn-primary">Entrar</button>
    </form>
</section>
